/* Sign Up Page */
.sign-up-page-inner-container {
  min-height: 100vh;
  min-width: 100vw;
  }
  
  p#signup, p#signin{
    color:blue;
  }
  
  p#signup:hover ,p#signin:hover {
    cursor: pointer;
  }
  
  .sign-up-page-container {
    max-height: 100vh;
    max-width: 100vw;
  }
  
  .log-in-form-container {
  
  }
  
  .sign-up-form {
   
  }

  .about-us {
    
  }
  