/* User Info */

/* .edit-profile-button {
  height: 40px;
  width: 60px;
} */

/* .user-info-container {
    min-height: 40vh;
    max-height: 40vh;

   } */
   
/* .user-info-name-container {
    margin: 10px;
} */
/* 
.user-info-image-container {
    
}
*/
.user-info-bio-container {
    margin: 10px;
}

/* .user-info-display-name {
    text-align: center;
} */
