/* User Profile Page */

/* .user-profile-page-container {
    display: flex;
    justify-content: space-evenly;

    
  }
*/  
  /* .container {
    flex-direction: row;
    justify-content: space-evenly;
  } */

  .user-profile-bio{
    
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    border-radius: 3%;
    padding: 5px;
    margin: 10px;
    
  }
  /* .user-info-sidebar-container {
    width: 30%
  } */
  
  .timeline-gallery-map-container {
    
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    border-radius: 3%;
    margin-left: 20px;
    margin-right: 20px;
  }
