/* User Info */

/* .edit-profile-button {
  height: 40px;
  width: 60px;
} */

/* .user-info-container {
    max-width: 200px;
   }
    */
/* .user-info-name-container {
    display: flex;
}

.user-info-image-container {
    
}

.user-info-bio-container {
    display: flex;
} */

/* .user-info-display-name {
    text-align: center;
} */
