/* User Profile Page */

.user-profile-page-container {
    margin-left:10;
    
  }
  
  .user-info-sidebar-container {
    width: 30%
  }
  
  .timeline-gallery-map-container {
    width: 70%
  }
  
  .t-g-m-navbar {
  
  }
  
  .t-g-m-container {
  
  }