.App {
  text-align: center;
  height: 100vw;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  background-image: linear-gradient(315deg, #216864 0%, #98cecb 74%);
  background-attachment: fixed;
  overflow-y: scroll;
}

/* Navbar */

#trippy-logo-text {
  font-family: 'MuseoModerno', cursive;
}

.login-logout-button {
  color: rgb(241, 159, 128) !important;
}

.timeline-tabs {
  color:  #216864 !important;
}

.timeline-tabs:hover {
  color:  #216864 !important;
}



